body, html {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

span {
    background: none;
    display: inline-block;
    transition: all 0.4s;
}

span:hover {
    background: black;
    color: white;
    transform: translate(25%, 25%) scale(1.5); 
    transition: all 0.4s;
}

hr {
    width: 25%;
    border: 2px black dotted;
}