body, html {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

hr {
    width: 25%;
    border: 2px black dotted;
}