{% extends "base.html" %}
{% block title %}musstats{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

{% block content %}
<div class="content">
    <div class="upper-block">
        <div class="now-playing">
            <h2>сейчас слушает:</h2>
            
            {% if now %}
                <div class="track-info">
                    <a href="{{ artists[4] }}">
                        <p><strong>исполнитель:</strong> {{ now[0] }}</p>
                        <p><strong>трек:</strong> {{ now[1] }}</p>
                        <p><strong>альбом:</strong> {{ now[2] }}</p>
                        {% if now[3] %}
                        <img src="{{ now[3] }}" alt="Album art" class="album-art">
                        {% endif %}
                    </a>
                    
                    <p><strong>Всего прослушиваний:</strong> {{ now[5] }}</p>
                </div>
            {% else %}
                <p>Сейчас этот хуесос ничего не слушает ()_O</p>
            {% endif %}
        </div>
        <div class="upper-block_right">
            <div class="top-artists">
                <h2>топ артистов по слушкам:</h2>

                <div class="artists">
                    {% for i in range(5) %}
                        <a href="{{artists[i][2]}}">
                            <div class="artist">
                                <p>{{ artists[i][0] }}</p>
                                <p><strong>{{ artists[i][1] }} раз</strong></p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="kitten-container">
                <img src="{{ url_for('static', filename='img/kitten.gif') }}" alt="kitten" class="kitten-img">
           </div>
        </div>
    </div>
    <div class="top-albums">
        <h2>топ альбомов по слушкам:</h2>
    
        <div class="albums">
            {% for i in range(5) %}
                <div class="album">
                    <a href="{{albums[i][4]}}">
                        <div class="album-info">
                            {% if albums[i][2] %}
                            <img src="{{ albums[i][2] }}" alt="Album art" class="album-art">
                            {% endif %}
                            <p>{{ albums[i][0] }}</p>
                            <p><strong>{{ albums[i][1] }}</strong></p>
                        </div>
                    </a>
                    <p align="right"><small>{{ albums[i][3] }} слушек</small></p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}